{{define "ruleInfo"}}
<div class="bs-callout bs-callout-warning">
    <h4>Rule Explanation</h4>
    <p>To find out more about {{.Name}} <a target="_blank" href={{.Link}}>click here.</a></p>
</div>
{{end}}