<!DOCTYPE html>
<html>

<head>
  {{template "head" .}}
</head>

<body class="{{ tolower .Framework }}"> <!-- add framework to class so we can select styles based on framework -->
  {{template "header" .}}
  <div class="container-fluid">
    <div class="row">
      {{template "nav" .}}
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {{template "body" .}}
        {{template "footer" .}}
      </div>
    </div>
  </div>
</body>

</html>