{{define "body"}}
<style>
  article {
    font: 20px Helvetica, sans-serif;
    color: #333;
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto;
  }
</style>

<article>
  <div>
    <h1> ..Under Construction..</h1>
    <img src="https://golang.org/doc/gopher/pencil/gopherswrench.jpg" class="construction">
    <p>We are updating these vulnerabilities. Thanks for your patience!</p>
    <p>&mdash; The Go Team at Contrast</p>
  </div>
</article>
{{end}}