name: CI

# this is triggered on push to the repository
on: [push, pull_request]

env:
  GOBIN: /home/runner/work/bin

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: SETUP GOBIN PATH
        run: |
          mkdir -p /home/runner/work/bin
          echo "::add-path::/home/runner/work/bin"
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.15.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run gofmt
        run: gofmt -s .
      - name: Execute golint
        run: |
          go get -u golang.org/x/lint/golint
          golint -set_exit_status ./...
      - name: Execute ineffassign
        run: |
          go get -u github.com/gordonklaus/ineffassign
          ineffassign ./...
      - name: Execute misspell
        run: |
          go get -u github.com/client9/misspell/cmd/misspell
          misspell ./...
      - name: Execute go vet
        run: go vet -race ./...
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: true
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.15.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: go test -v ./... -race -coverprofile=coverage.txt -covermode=atomic
    - name: Push Coverage to codecov.io
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.txt
  build:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x, 1.15.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: true
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build
      run: go build ./...
