name: CI

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Run gofmt
        run: gofmt -s .
      - name: Execute golint
        run: |
          go install golang.org/x/lint/golint@v0.0.0-20210508222113-6edffad5e616
          golint -set_exit_status ./...
      - name: Execute ineffassign
        run: |
          go install github.com/gordonklaus/ineffassign@v0.0.0-20210914165742-4cc7213b9bc8
          ineffassign ./...
      - name: Execute misspell
        run: |
          go install github.com/client9/misspell/cmd/misspell@v0.3.4
          misspell ./...
      - name: Execute go vet
        run: go vet -race ./...
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: true
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: windows - downgrade mingw to 10.2.0
        # TODO revert once 'go test -race' issue is fixed
        # see https://github.com/golang/go/issues/46099 and maybe https://github.com/golang/go/issues/35006
        if: ${{ matrix.platform == 'windows-latest' }}
        run: choco install mingw --version 10.2.0 --allow-downgrade
      - name: Test
        run: go test -v ./... -race -coverprofile=coverage.txt -covermode=atomic
      - name: Push Coverage to codecov.io
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
  build:
    strategy:
      matrix:
        go-version: [1.17, 1.18]
        platform: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: true
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: go build ./...
